:root {
    --background: #ffebef;
    --title: #f898a8;
    --sm: 15px;
    --md: 20px;
    --lg: 30px;
    --playback-time: 16px;
}
@mixin flexCenter($content, $align) {
    display: flex;
    justify-content: $content;
    align-items: $align;
}
body {
    margin: 0;
    background: var(--background);
    font-family: "Lato", sans-serif;
}
.wrapper {
    display: grid;
    position: relative;
    grid-template-rows: 100px 320px 90px;
    height: 520px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
header {
    @include flexCenter(center, center);
    font-size: var(--lg);
    font-weight: bold;
    color: var(--title);
}
main {
    .cards {
        @include flexCenter(center, center);
        text-align: center;
        div {
            img {
                width: 250px;
                height: 250px;
                margin: 16px;
                border-radius: 20px;
                box-shadow:  20px 20px 15px #d9c8cb,
                    -20px -20px 30px #ffffff;
                object-fit: cover;
                border-radius: 20px;
            }
            p {
                font-weight: bold;
                font-size: var(--sm);
                color: var(--title);
            }
        }
    }
    .progress-bar {
        margin: 5px 0;
        @include flexCenter(center, center);
        font-size: var(--playback-time);
        color: var(--title);
        div {
            margin-inline: 8px;
        }
    }
}
footer {
    .buttons {
        @include flexCenter(center, center);
        position: relative;
        width: 100%;
        max-width: 120px;
        margin: auto;
        margin-top: 52px;
        max-height: 50px;
        div img {
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }
        .play-pause {
            position: relative;
            padding-bottom: 3px;
            input {
                display: none;
            }
            .play {
                display: block;
                
            }
            .pause {
                display: none;
            }
            input:checked + label {
                .play {
                    display: none;
                }
                .pause {
                    display: block;
                }
            }
        }
    }
}